<h3 class="text-center">Lista de empleados</h3>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ employee.name }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.email }}</td>
            <td>
              <button (click)="show(employee.id)" class="btn btn-outline-primary">Ver</button>
              <button (click)="update(employee.id)" class="btn btn-outline-warning ml-2">Editar</button>
              <button (click)="delete(employee.id)" class="btn btn-outline-danger ml-2">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
